<div class="excel-tool">
    <shared-home-redirect></shared-home-redirect>
    
    <div class="uploader-box">
        <p class="form-title">月上班时间信息</p>
        <form name="monthlyWorkingHoursForm" [formGroup]="monthlyWorkingHoursForm"
            (ngSubmit)='uploadMonthlyWorkingHours()'>
            <input type="file" name="monthlyWorkingHoursFile" accept=".xlsx" class="hidden" sharedSingleFileBrowser
                (fileSelect)="monthlyWorkingHoursForm.get('_monthlyWorkingHoursFile').setValue($event)"
                #monthlyWorkingHoursFileCt>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>月工作时间表</mat-label>
                    <input matInput type="text" name="_monthlyWorkingHoursFile"
                        formControlName="_monthlyWorkingHoursFile" readonly required placeholder="点击选择文件"
                        (click)='monthlyWorkingHoursFileCt.click()' #_monthlyWorkingHoursFileCt>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>月份</mat-label>
                    <input matInput type="number" name="month" formControlName="month" required>
                </mat-form-field>
            </div>
            <div class="form-buttons">
                <p class="form-tip">该数据每个月上传一次就好了不用每天都上传，不过如果不确定是否上传过或者数据有改动，再来一次也可以</p>
                <mat-button-toggle-group>
                    <mat-button-toggle [disabled]='!monthlyWorkingHoursForm.valid'
                        (click)='uploadMonthlyWorkingHours()'>数据上传
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </form>
    </div>

    <div class="uploader-box">
        <p class="form-title">当天绩效计算</p>
        <form name="dailyPerfForm" [formGroup]='dailyPerfForm'>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>张数定值</mat-label>
                    <input matInput type="number" name="paperAmount" formControlName="paperAmount" required>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>张数占比</mat-label>
                    <input matInput type="number" name="paperRate" formControlName="paperRate" required>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>数量定值</mat-label>
                    <input matInput type="number" name="pickingAmount" formControlName="pickingAmount" required>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>数量占比</mat-label>
                    <input matInput type="number" name="pickingRate" formControlName="pickingRate" required>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>绩效日期</mat-label>
                    <input matInput [matDatepicker]="pickingDate" name="pickingDate" formControlName="pickingDate"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="pickingDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickingDate></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="metadata-des">

    </div>
</div>
<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div> -->
<shared-progress-reporter></shared-progress-reporter>