<div class="page">
    <p class="helpTip">如果您在小工具使用过程中有疑问或需要帮助,请电联:15721457986或邮件:liwang.pu@gmail.com ☺</p>
    <table class="tool">
        <thead>
            <tr>
                <th>小工具</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a routerLink="/ExcelTool/Order/ExtractArea">订单流水按区域提取</a></td>
                <td>
                    针对"网店精灵"软件中"带包装订单"中"未拣货"导出的订单流水表格进行按区域分表，分表的原则为库位号区域信息都为同一个区域的，就划分到一张表。例如："A00R04-L4-02;A00R05-L4-01;A01R05-L4-05;"，该库位号中的首字母为区域信息，都为A,则划分到"A区域"表，如果有一个不是A区域的，则不进行划分
                </td>
            </tr>
            <tr>
                <td><a routerLink="/ExcelTool/Salary/WareHouseOvertime">仓库加班考勤统计</a></td>
                <td>
                    针对公司考勤软件中导出的打卡详情表格进行加班时间统计，具体统计方式此处不做说明
                </td>
            </tr>
            <tr>
                <td><a routerLink="/ExcelTool/Salary/PickingPerf">配货绩效</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>