<div class="excel-tool">
    <shared-home-redirect></shared-home-redirect>
    <div class="uploader-box">
        <p class="form-title">仓库加班考勤统计</p>
        <form name="overtimeForm" [formGroup]="overtimeForm">
            <input type="file" name="signinFile" accept=".xlsx" class="hidden" sharedSingleFileBrowser
                (fileSelect)="overtimeForm.get('_signinFile').setValue($event)" #signinFileCt>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>考勤表</mat-label>
                    <input matInput type="text" name="_signinFile" formControlName="_signinFile" readonly required
                        placeholder="点击选择文件" (click)='signinFileCt.click()' #_signinFileCt>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>月份</mat-label>
                    <input matInput type="number" name="month" formControlName="month" step="1" required #monthCt>
                </mat-form-field>
            </div>
            <div class="form-buttons">
                <mat-button-toggle-group>
                    <mat-button-toggle [disabled]='!overtimeForm.valid' (click)='overtimeCalcu()'>数据上传
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </form>
    </div>
    <div class="metadata-des">
        <h4 class="title">仓库加班考勤统计功能说明：</h4>
        <p class="des">此小工具针对公司考勤软件中导出的打卡详情表格进行加班时间统计，具体统计方式此处不做说明</p>
        <h4 class="title">使用说明:</h4>
        <p class="des">1. 月份是考勤的月份信息（不一定是当月哦），是必填信息</p>
        <p class="des warn">2. 考勤表格的格式很重要，表格一定要包含一张名称为“打卡时间”表（可以包含其他不相关的表），具体表格的列信息此处不做说明（如果公司导出的表格格式有变，请通知管理员修改软件）</p>
    </div>
</div>
<shared-progress-reporter></shared-progress-reporter>