/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.excel-tool {
  width: 100%;
  height: 100%;
  padding: 1rem;
  div.uploader-box {
    position: relative;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin-top: 0.8rem;
    // &:hover {
    //   // border-color: #1E88E5;
    // }
    p.form-title {
      position: absolute;
      top: -0.7rem;
      left: 0.8rem;
      font-size: 1rem;
      background-color: white;
      color: gray;
      &::after {
        content: "：";
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-top: .3rem;
      input[type="file"].hidden {
        display: none;
      }

      div.form-item {
        // display: inline-block;
        width: 50%;
        padding: 0 0.3rem;
        // margin-right: 1.5rem;
        // width: 300px;
        & > * {
          width: 100%;
        }
      }
      div.form-buttons {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
          line-height: 32px;
        }
      }

      label {
        &.required {
          color: #007bff;
          &::after {
            content: "*";
          }
        }
      }
      p.form-tip {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 500;
        padding-left: 2rem;
        color: orange;
        &::before {
          content: "● ";
        }
      }
    }
  }
  div.metadata-des {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    margin-top: 0.8rem;
    p,
    h4 {
      padding: 0;
      margin: 0;
    }

    .title {
      padding: 0.5rem;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .des {
      text-indent: 1rem;
    }

    .warn {
      color: red;
    }

    table.field-des {
      width: 100%;
      border: 1px solid #d0d0d0;
      border-collapse: collapse;
      margin-bottom: 0.5rem;
    }

    table.field-des td {
      border: 1px solid #d0d0d0;
      padding: 0.1rem;
      font-size: 0.8rem;
    }

    table.field-des td.title {
      padding: 0.2rem 1rem;
      color: orange;
    }
  }
}
